**Data Type and Structure Questions**

1.  What are data structures, and why are they important?
>> Data structures are a way to organize and store data so that they can be accessed easily for data manipulation and interpretation. For example list, set, tuples, dictionary.
>> They are important as they are very efficient in data storing and provide a structured way to handle it. Data stored can be accessed very easily for further modification.


2.  Explain the difference between mutable and immutable data types with examples.
>> Mutable data types are which can be modified or changed after creation. For example list, set, dictionary they all can updated after they have been made. Immutable data types such as tuples and strings can't be edited once they have been created.

3.  What are the main differences between lists and tuples in Python?
>> Main difference between list and tuple is that list is a mutable data type while tuple is an immutable data structure. You can edit or add a list after creation but you can't do that with a tuple.

4.  Describe how dictionaries store data?
>> Dictionaries store data in key value pairs instead of index. You can assign a key to every data that you enter and can access that data using the keys.
          #dictionary example
          dict={"name":"Aman", "class":11, "city":"Delhi}


5. Why might you use a set instead of a list in Python?
>> A set is an unordered collection of data which is mutable like list but the adavantage it has over list is that it ignores duplicate data unlike a list. And if you want to compare it with other data sets you can use set operations which makes it handy and efficient.

6. What is a string in Python, and how is it different from a list?
>> A string is a sequence of characters defined inside two inverted or single commas. They help in storing text.They are immutable data types and can't be edited once crated. A list is a collection of items which can be anything a string, a number, a list or other data types. They are defined inside square brackets. List are mutable and can be edited after creation.


7. How do tuples ensure data integrity in Python?
>> Tuples are basically immutable lists. They can store any type of data but once created they can't be edited making the contents or data inside it safe thus ensuring data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?
>> A hash table is data structure that stores data in the form of key value pairs. The keys are unique and can be used to access data from the memory. Dictionaries use these hash tables to store their data in memory as when any key is created a hash function generates a unique value and stores the data in the memory related to that key. And when you want to acecss the data it returns the value back using the hash value.

9. Can lists contain different data types in Python?
>> Yes, lists can store any data types be it `list, tuple, strings, float, int or boolean` or even functions.

10. Explain why strings are immutable in Python?
>> Strings are immutable because they can't be changed after creation you have to create a new string to replace the older one. It makes them readily reusable for futher operations and prevents unintentional modification.

11. What advantages do dictionaries offer over lists for certain tasks?
>> Dictionaries are a great way to store real world data. Instead remembering the index it can store data using a name (key) and whenever needed can be accessed using the key making much efficient and handy in real world cases. For example you have a school register to maintain instead of giving each student a idex or number to store we use there name, roll number or classes to give each student a unique identification. And whenever needed just using the class, name, roll number we can access the data of the students. Thus the key itself give some meaning and helps in identification of data.

12. Describe a scenario where using a tuple would be preferable over a list?
>> A list is a open notebook which anybody can not just read but can easily change or alter it making it unsafe to store important data. Tuple being immutable keeps data safe and protected from accidental or wrongful alteration. For example for storing coordinates of a place we should use tuples as any change in those coordinates can compromise the data fully and will give wrong information when retrieved.

13. How do sets handle duplicate values in Python?
>> Sets don't store duplicate values. You can put as many duplicate in it but it will store and return only one unique value out of those duplicates.

14. How does the “in” keyword work differently for lists and dictionaries?
>> When `in` is used with lists it checks each element and return whether the item is in it ot not. While for dictionaries `in` keyword checks the keys only and returns whether the key is present or not.But you can use in to access values by searching values only.

          "Delhi" in ["Aman", "Delhi", "Mumbai", "Dehradun"] #Output: True
          "Delhi" in {"name":"Aman", "city":"Delhi"} #Output: False
          "Delhi" in {"name":"Aman", "city":"Delhi"}.values() #Output: True

15. Can you modify the elements of a tuple? Explain why or why not?
>> No, we can't modify the elements of a tuple as tuple is an immutable data structure. It means once created the data inside the tuple can't be altered.

16. What is a nested dictionary, and give an example of its use case?
>> Nested dictionary means a dictionary inside a dictionary. The use cases are many one of them can be maintaining employee records in a firm. Below is the example:

            employee_records={"E101":{"name":"Rahul","profile":"Senior Analyst", "department":"Finance"},"E102":{"name":"Sonal","profile":"Analyst", "department":"HR"}

17. Describe the time complexity of accessing elements in a dictionary?
>> Time taken during accessing the elements of dictionary is on average constant no matter how long the dictionary is due to its use of hash values to store the value and retrieve them. In rare scenarios due to poorly distributed hash values it might be slow.

18. In what situations are lists preferred over dictionaries?
>> When you don't have a complex data and need not identify a data using a key a list can be used. For example to make a list of integers 1 to 10 I can easily use a list there is no need of using a dicitonary here. Similary, I want to prepare a list of students in my class I can just write their names in the list instead of dictionary as I don't have to give any additional information regarding the data stored.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
>> Dictionaries are considered unordered because it doesn't store data using indexes. You can give a key to each data and readily access the data using that key, no need to remember the order in which the data is stored in the first place thus making the ordering irrelevant in the case of dictionary.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
>> List is an ordered collection of items so whatever you entered has an index associated with it and whenever needed you can retieve that data using the index associated to it. To retrive the data you should remember the index of the data making it cumbersome and lead to delay in retrieval. While dictionary uses meaningful key-value pairs to store and organize data which makes it readable and fast for data retrieval.

In [ ]:
#1. Write a code to create a string with your name and print it.

name="Shubham Mehta"
print(name)

Shubham Mehta

In [ ]:
#2. Write a code to find the length of the string "Hello World".

len("Hello World")

11

In [ ]:
#3.  Write a code to slice the first 3 characters from the string "Python Programming".

strg="Python Programming"
print(strg[:3])

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase.

h="hello"
h.upper()

'HELLO'

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

s="I like apple"
s.replace("apple","orange")

'I like orange'

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

lst=list(range(1,6))
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

l=[1,2,3,4]
l.append(10)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

l2=[1,2,3,4,5]
l2.remove(3)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

l3=["a","b","c","d"]
l3[1]

'b'

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

l4=[10,20,30,40,50]
l4[::-1]

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

t=(100,200,300)
print(t)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

t1=("red","green","blue","yellow")
t1[-2]

'blue'

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

t2=(10,20,5,15)
min(t2)

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

t3=('dog','cat','rabbit')
t3.index('cat')

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits=("apple","banana","kiwi")
print("kiwi" in fruits)

True

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set1={'a','b','c'}
print(set1)

{'b', 'c', 'a'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set2={1,2,3,4,5}
set2.clear()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set3={1,2,3,4}
set3.remove(4)

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

s1={1,2,3}
s2={3,4,5}
print(s1 | s2)

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

s3={1,2,3}
s4={2,3,4}
print(s3 & s4)

{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

d1={"name":"Shubham","age":20, "city":"Delhi"}
print(d1)

{'name': 'Shubham', 'age': 20, 'city': 'Delhi'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

d2={"name":"John","age":25}
d2["country"]="USA"

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

d3={"name":"Alice","age":30}
d3["name"]

'Alice'

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

d4={"name":"Bob","age":22,"city":"New York"}
del d4["age"]

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

d5={"name":"Alice","city":"Paris"}
"city"in d5.keys()

True

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

lt=[1,2,"Shubham",4,"Rajeev"]
tu=(1,3,"Mehta","Chopra")
di={"name":"Shubham","age":24, "city":"Delhi"}
print(lt,tu,di)

[1, 2, 'Shubham', 4, 'Rajeev'] (1, 3, 'Mehta', 'Chopra') {'name': 'Shubham', 'age': 24, 'city': 'Delhi'}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

l5=[60,79,43,21,11]
print(sorted(l5))

[11, 21, 43, 60, 79]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.
l6=["simon",'delhi','london','ritu','sagar']
l6[3]
#printing 3 index as per Python indexing as question was ambiguous whether as per python indexing or normal list count

'ritu'

In [2]:
#29. Write a code to combine two dictionaries into one and print the result.

d9={'key1':'value1','key2':'value2'}
d10={'key10':'value10',"key20":"value20", "key30":"value30"}
d11=d9 | d10
print(d11)

{'key1': 'value1', 'key2': 'value2', 'key10': 'value10', 'key20': 'value20', 'key30': 'value30'}

In [3]:
#30. Write a code to convert a list of strings into a set.

l10=["bran","john","arya","ross"]
s10=set(l10)